@import "tailwindcss";

@theme {
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;
  --color-primary: #B67A2A;
  --color-primary-text: #111827;
  --color-secondary-text: #6B7280;
  --color-error: #DC2626;
  --color-success: #16A34A;
  
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary-text);
  }
}
